* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Oswald;
}

h3,
p {
  margin: 0;
}

body {
  margin: 50px 100px 100px;
  background: #30343f;
}

h1 {
  color: #e11220;
  text-align: center;
  text-decoration: underline;
  font-size: 70px;
  margin-bottom: 20;
}

h3 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.price .pic {
  display: flex;
  align-items: center;
  width: 10%;
  border-radius: 50%;
  padding-left: 40px;
  padding-top: 25px;
}

.container div img {
  width: 200px;
  border-radius: 50%;
}

span img {
  width: 30px;
  border-radius: 50%;
  color: white;
}

.end-text {
  display: grid;
  color: white;
}

p {
  gap: 7px;
  text-align: center;
}

.container p {
  font-size: 25px;
  font-weight: 600;
}

.price {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 21em;
  height: 25em;
  background-color: #fff;
  box-shadow: 5px 5px 25px #0000005f;
  padding: 10px 30px;
  border-radius: 10px;
  background: rgb(246, 246, 246);
}

.price .text {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  margin: 40px 50px;
}


 .mySlides {
   display: none;
 }

 img {
   vertical-align: middle;
 }

 /* Slideshow container */
 .slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
 }

 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }

 /* The dots/bullets/indicators */
 .dot {
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }

 .active {
   background-color: #717171;
 }

 /* Fading animation */
 .fade {
   animation-name: fade;
   animation-duration: 1.5s;
 }

 @keyframes fade {
   from {
     opacity: 0.4;
   }

   to {
     opacity: 1;
   }
 }

 /* On smaller screens, decrease text size */
 @media only screen and (max-width: 300px) {
   .text {
     font-size: 11px;
   }
 }


/* MediaQ for Resizing the Page */

@media(max-width:810px) {

  body {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 1.5em;
    font-weight: bold;
  }

  @media(max-width:450px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }


    .container {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr;
    }

    h1 {
      font-size: 1.5em;
      font-weight: bold;
    }

  }

}

