*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-content: center;
  margin: 50px;
  gap: 15px;
}
.test{
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 4px;
  box-shadow: 5px 5px 25px #0000005f;
  width: 18em;
  height: 22em;
  align-items: center;
  justify-items: center;
}

.block1 img{
  /* object-fit: cover; */
  width: 15em;
  height: 13em;
  border-radius: 50%;
  padding: 30px;
}

.block2{
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

@media(max-width:810px){
  .container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
    @media(max-width:450px) {
      .container {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
      }
    }
}


.mini{
  display: grid;
  grid-template-columns: repeat(5, 1fr);


  border: 2px solid black;
  padding: 20px;

  margin: 10px;
}


.end-text {
  display: grid;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
p {
  gap: 7px;
  text-align: center;
}

span a {
  font-size: 15px;
  border-radius: 50%;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 10px;
}


.custom-footer {
  text-align: center;
  padding: 20px;
}

.icon {
  font-size: 24px;
  margin: 0 10px;
  color: #333;
  /* Adjust color as needed */
}

.facebook:hover {
  color: #1877f2;
  /* Facebook blue */
}

.whatsapp:hover {
  color: #25d366;
  /* WhatsApp green */
}

.tiktok:hover {
  color: #000;
  /* TikTok black */
}














